.header-content{position:fixed; bottom:0; left:0}
	.gm-style-cc{display:none;}
	#map-canvas {width:100%; height:100%; background-color:#fff}
	#HolalistView {width:100%; height:100%; background-color:#fff; overflow:scroll;}
#user-number{font-size:15px; font-weight:bold; font-color:black;}
.userCountMsg{font-family: 'Poiret One', cursive;padding:10px 10px 20px 10px; font-weight:bold; color:#fff; font-size:15px;}
.gm-style-iw
{
left:5px !important;
font-size:12px !important;
}
.twPc-div {
    background: #fff none repeat scroll 0 0;
   
    border-radius: 6px;
    height: 100%;
    max-width: 260px; 
	margin:5px;
	
}
.twPc-bg {
    background-image: url("../img/user_profile_bg.jpg");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 50px;
	max-width: 260px; 
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-top:10px;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 42px;
    width: 42px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}

.twPc-StatValue {
    display: block;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
.chat-app
{
width:100%;  margin-top:5%; border-left:1px solid #999;
}
.chat-messages{display:block; height:420px; overflow-y:scroll; padding:5px;  background-color:#f7f7f7;margin-bottom:5px;border-top:1px solid #999;}
.chat-app textarea{width:100%; max-width:100%; margin:0 auto; padding:5px; border-top:0; margin:0; padding-right:0;
 outline:none;border:1px solid rgba(0,0,0,0.7); height:50px;
}
.chat-wrapper{width:100%; clear:both; margin-bottom:15px;}
.chat-message{margin-left:5px;text-align:right;  padding:5px 5px 5px 10px; border:1px solid rgba(0,0,0,0.7); background-color:#fff; color::#000;
position:relative; word-wrap:break-word;
}
.chat-message-received{margin-left:5px;text-align:left; padding:5px 5px 5px 10px;  background-color:rgba(0,0,0,0.7);color:#fff;
position:relative; word-wrap:break-word;
}
.chat-message::before{content:"";width:0; height:0; position:absolute; top:5px;
left:-10px; word-wrap:break-word;
}
.chat-message span{display:block; font-weight:bold; font-size:11px;}


.gm-style-iw {
    width: 280px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px;
}
#map-canvas img {
    max-width: none !important;
}
.infoBoxHolaUser{
	font-size:14px !important;
	font-weight:normal;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.loading-map-bg-img {
  width: 100%;
  height: 100%;
  background: url('../img/loading-map.png') center center no-repeat;
  background-size: cover;
  
  :before {
        
  }
}
.loading-map-bg-img:before
{
	content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .6; 
	
}